section.showcase-single{
    max-width: 80%;
    margin: 0 auto;
}

h2.showcase-single-description-title{
    font-family: 'Open Sans';
}

div.showcase-single-wrapper{
    display: flex;
    padding: 2% 0;
}

div.showcase-single-yt-wrapper{
    font-family: 'Open Sans';
    max-width: 40%;
}

div.showcase-single-description-wrapper{
    flex-grow: 2;
    padding: 1%;
    height: fit-content;
}

p.showcase-single-description-p{
    font-family: 'Open Sans';
    text-align: justify;
}

.individual-wrapper{
    background-color: #f5f5f5;
    margin-left: 1%;
    margin-right: 1%;
}

div.divider{
    width: auto;
    height: 3px;
    background-color: #c1c1c1;
}

section.divider-single{
    max-width: 80%;
    size: auto;
    margin-top: 1%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
div.TopBanner{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://lh5.googleusercontent.com/y0J85S96H8UuMGSocFHFYLIYQXG8YQvhx6N3pk9cJo1IZwtb_4AISDkl3orCqDoKbYD9pA=w16383");
    width: 100%;
    height: 60%;
    background-color: #c1c1c1;
}

.flex-left{
    display: flex;
    flex-direction: row;
}

.flex-right{
    display: flex;
    flex-direction: row-reverse;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}